@import "~sass-rem";

.container {
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  padding: rem(80px) rem(20px);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: #EAEEF3;

  transition: margin 225ms cubic-bezier(0, 0, 0.2, 1), width 225ms cubic-bezier(0, 0, 0.2, 1);

  &.open{
    width: calc(100% - rem(140px));
    margin-left: rem(140px);
  }
}
