@import "~sass-rem";

.navigationText {
    flex-grow:1;

    font-weight: 500;
    font-size: rem(24px);
    line-height: rem(28px);
}

.userCredentials {
    margin-right:20px;
    margin-left:20px;

    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(32px);

    white-space: pre-line;
}

.header {
    z-index: 100;

    min-height: rem(60px);

    transition: margin 225ms cubic-bezier(0, 0, 0.2, 1), width 225ms cubic-bezier(0, 0, 0.2, 1);

    .content {
        min-height: 60px;
    }

    &.admin {
        background: #CF2200;
    }
}

.navigation {
    margin-right: 2rem;
}

.button {
    min-width: rem(104px);
    margin-left: rem(20px);
    padding: 4px 12px;
}
