@import "~sass-rem";

@import "@app/common/styles/colors.scss";
@import "@app/common/styles/mixins.scss";

.mainWrapper {
    height: 100%;
    width: 100%;
    max-width: rem(800px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;

    background: #fff;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: rem(15px);
    border-bottom: 1px solid #d5dddf;

    color: rgb(51, 51, 51);

    font-size: rem(14px);
    font-weight: 700;
    line-height: rem(18px);

    > span {
        display: inline-block;
        margin-left: rem(6px);

        color: #4b8eab;

        font-size: .875rem;
    }
}

.editContainer {
    padding: rem(16px);

    background: #f7f7f7;

    .title {
        margin-bottom: rem(8px);

        color: rgb(51, 51, 51);

        font-size: rem(14px);
        font-weight: 700;
        line-height: rem(18px);
    }

    .editor {
        margin-bottom: rem(12px);
    }

    .send {

    }
}


.content {
    padding: rem(16px) rem(20px);
    border-bottom: 1px solid #d5dddf;

    background: #fff;

    .author {
        margin: 0;

        font-size: rem(16px);
        line-height: rem(24px)
    }
}
