@import "~sass-rem";

@import "@app/common/styles/colors.scss";
@import "@app/common/styles/mixins.scss";

.mainWrapper {
    height: 100%;
    width: 100%;
    max-width: rem(800px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;

    &:not(:last-child) {
        margin-bottom: rem(12px);
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: rem(6px);
    padding: 4px;
    border-radius: rem(5px);

    background-color: #e7f3ff;

    h5, h6 {
        margin: 0;
        margin-left: rem(6px);
    }

    .author {
        color: rgb(65, 75, 80);

        font-size: rem(13px);
        line-height: rem(15px);

        cursor: pointer;

        &:hover {
            color: #405CE5;
        }
    }

    .date {
        margin-left: rem(6px);

        color: rgb(119, 119, 119);

        font-size: rem(10px);
        line-height: rem(11px);
    }
}

.infoContainer {
    white-space: pre-line;

    margin-bottom: 20px;

    & p {
        @include desktop {
            font-size: rem(18px);
            line-height: rem(28px)
        }

        @include tablet {
            font-size: rem(16px);
            line-height: rem(22px)
        }

        @include mobile {
            font-size: rem(14px);
            line-height: rem(20px)
        }
    }
}

.container {
    white-space: pre-line;
}

.content {
    background: #fff;

    font-size: rem(14px);
    line-height: rem(20px)
}
