@import "~sass-rem";

// breakpoints
$mobile-wide-min: 480px;
$tablet-min: 768px;
$tablet-wide-min: 732px;
$desktop-min: 1200px;

$desktop-header-height: rem(96px);
$tablet-header-height: rem(88px);
$mobile-header-height: rem(58px);

$font-base: Nunito Sans, sans-serif;
$font-header: 'Alfa Slab One', cursive;
