@import "~sass-rem";

$white: #FFFFFF;
$black: #080808;
$dark: #141414;
$purple: #405CE5;
$light: #e0e0e0;
$error: #F9334B;
$light-error: #FA5D70;
$orange: #F17A59;
$gray: #373737;
$light-gray: #949494;
$dark-gray: #FFFFFF;
