@import "~sass-rem";

.drawer {
    width: 140px;
    //width: 240px;
    flex-shrink: 0;

    & :global(.MuiDrawer-paper) {
        width: rem(140px);
        box-sizing: border-box;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    min-height: 60px;
}

.done {
    background: aquamarine;
}

//.failure {
//    background: darksalmon;
//}

.divider {
    background:deepskyblue;
}

.multiply {
    background: yellow;
}
