@import "~sass-rem";

@import "@app/common/styles/colors.scss";
@import "@app/common/styles/mixins.scss";

.mainWrapper {
    height: 100%;
    width: 100%;
    max-width: 42em;
    margin-bottom: rem(20px);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    > h4 {
        margin: 0;
        margin-top: rem(20px);

        font-weight: 700;
    }
}

.description {
    background: rgb(255, 255, 255);

    margin: 20px 0;
    padding: 20px;
}

.button {
    width: rem(140px);
    align-self: center;
    margin: 0 auto;
}
