@import "~sass-rem";

@import "@app/common/styles/colors.scss";
@import "@app/common/styles/mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    //min-height: rem(344px);
    min-height: rem(244px);
    max-height: rem(244px);
    padding: rem(24px);
    border-radius: rem(30px);

    //background-color: $dark-gray;
    background-color: $dark-gray;
    color: #405CE5;

    cursor: pointer;

    @include hover {
        background-color: $purple !important;

        color: $light;

        .link {
            color: $dark-gray;
        }
    }

    @include desktop {
        min-height: rem(384px);
        max-height: rem(384px);
        padding: rem(40px);
    }

    @include mobile {
        min-height: auto;
        max-height: none;

        &:not(:last-child) {
            margin-bottom: rem(24px);
        }
    }

    &.hover {
        background-color: $purple !important;

        & .date {
            color: $light;
        }

        .link {
            color: $dark-gray;
        }
    }
}

.date {
    margin-bottom: rem(16px);

    font-size: rem(14px);
    line-height: rem(20px);

    text-transform: uppercase;

    @include desktop {
        margin-bottom: rem(20px);

        font-size: rem(18px);
        line-height: rem(28px);
    }
}

.title {
    margin: 0;
    margin-bottom: rem(12px);

    font-weight: 600;
    font-size: rem(16px);
    line-height: rem(22px);

    @include desktop {
        margin-bottom: rem(24px);

        font-size: rem(22px);
        line-height: rem(32px);
    }
}

.preview {
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(20px);

    @include desktop {
        font-size: rem(18px);
        line-height: rem(28px);
    }
}

.link {
    display: inline-block;
    margin-top: auto;

    color: darkblue;

    font-weight: 600;
    font-size: rem(16px);
    line-height: rem(22px);

    @include desktop {
        bottom: rem(40px);

        font-size: rem(18px);
        line-height: rem(28px);
    }

    @include mobile {
        margin-top: rem(16px);
    }
}
