@import "~sass-rem";

@import "@app/common/styles/colors.scss";
@import "@app/common/styles/mixins.scss";

.mainWrapper {
    height: 100%;
    width: 100%;
    max-width: rem(800px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: rem(32px);

    .returnContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: rem(16px);
        line-height: rem(22px);

        cursor: pointer;

        @include mobile {
            margin-bottom: rem(20px);
        }

        .returnText {
            margin-left: rem(12px);
        }

        > svg > path {
            fill: #405CE5;
        }
    }

    .edit {
        margin-left: auto;
    }
}



.header {
    margin: 0;

    color: $purple;
    font-weight: 600;
    letter-spacing: 0.06em;

    @include desktop {
        margin-bottom: rem(24px);

        font-size: rem(32px);
        line-height: rem(40px)
    }

    @include tablet {
        margin-bottom: rem(20px);

        font-size: rem(24px);
        line-height: rem(32px)
    }

    @include mobile {
        margin-bottom: rem(16px);

        font-size: rem(18px);
        line-height: rem(28px)
    }
}

.infoContainer {
    white-space: pre-line;

    margin-bottom: 20px;

    & p {
        @include desktop {
            font-size: rem(18px);
            line-height: rem(28px)
        }

        @include tablet {
            font-size: rem(16px);
            line-height: rem(22px)
        }

        @include mobile {
            font-size: rem(14px);
            line-height: rem(20px)
        }
    }
}

.container {
    white-space: pre-line;
}

.footer {
    margin-top: auto;
}

.failure {
    margin-top: auto;
}

.content {
    padding: rem(16px) rem(20px);
    margin-bottom: rem(20px);

    background: #fff;

    .author {
        margin: 0;

        font-size: rem(16px);
        line-height: rem(24px)
    }
}
