@import "~sass-rem";

@import "@app/common/styles/colors.scss";
@import "@app/common/styles/mixins.scss";

.mainWrapper {
    position: relative;
    z-index: 10;

    overflow: hidden;
}

.header {
    color: $orange;

    @include desktop {
        margin-bottom: rem(32px);
    }

    @include tablet {
        margin-bottom: rem(20px);
    }

    @include mobile {
        margin-bottom: rem(12px);
    }
}

.text {
    margin-bottom: rem(60px);

    font-size: rem(22px);
    line-height: rem(32px);
    text-align: center;

    @include tablet {
        font-size: rem(18px);
        line-height: rem(28px);
    }

    @include mobile {
        margin-bottom: rem(32px);

        font-size: rem(16px);
        line-height: rem(22px);
    }

    @include no-mobile {
        white-space: pre-line;
    }
}

.news {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: rem(20px);

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include mobile {
        display: block;
    }

    .text {
        margin: 0
    }
}

.wait {
    @include mobile {
        display: block;
    }

    .text {
        margin: 0
    }
}

.failure {
    margin-bottom: 0;
    margin-top: rem(60px);

    @include mobile {
        margin-top: rem(32px);
    }
}

.button {
    margin-top: rem(60px);

    @include mobile {
        margin-top: rem(32px);
    }
}
