@import "~sass-rem";

@import "src/common/styles/colors.scss";

.container {
  height: 100%;
  display: flex;
  min-width: rem(500px);
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(40px);
  border-radius: rem(12px);

  box-shadow: 0 0 0 1px $light;
}

.button {
  width: 100%;
}

.headerText{
  font-weight: 400;
  font-size: rem(48px);
  line-height: rem(56px);

  text-align: center;

  margin: rem(16px) 0 rem(32px);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}
